/bin
/boot
/dev
/home
/initrd.img
/lib
/lib64
/lost+found
/media
/mnt
/opt
/proc
/sbin
/selinux
/srv
/sys
/tmp
/usr
!/usr/src/.config-2.6.39-perso
!/usr/src/grsecurity-2.2.2-2.6.39.3-201107142110.patch
/var
/vmlinuz
/dead.letter

/root/.aptitude
/root/.bash_history

